<?xml version="1.0"?>

<launch>
  <!-- Set laser_scan_topic to the robot topic as default -->
  <arg name="scan_topic" default="/multisense_sl/laser/scan" />
  
  <arg name="scan_cloud_topic" default="/scan_cloud" />
  <arg name="scan_cloud_filtered_topic" default="/scan_cloud_filtered" />
  <arg name="robot_description_name" default="robot_description"/>
  <arg name="node_name_prefix" default="" />
  
  <arg name="min_range" default="0.05" />
  
  <arg name="target_frame" default="motor" />
  <arg name="use_high_fidelity_projection" default="true" />
  
  <!-- Convert laser scan to 3D point cloud in sensor frame -->
  <node pkg="vigir_laserscan_to_pointcloud" type="laserscan_to_pointcloud_node" name="$(arg node_name_prefix)scan_to_cloud" respawn="true" output="screen">
    <param name="min_range" value="$(arg min_range)" />
    <param name="use_high_fidelity_projection" value="$(arg use_high_fidelity_projection)" />
    <param name="target_frame" value="$(arg target_frame)" />
    <remap from="/scan" to="$(arg scan_topic)" />
    <remap from="/scan_cloud" to="$(arg scan_cloud_topic)" />
    <rosparam command="load" file="$(find vigir_laserscan_to_pointcloud)/config/argo_scan_filter.yaml" />
  </node>

  <!-- Filter the scan cloud to remove robot intersections -->
  <include file="$(find vigir_lidar_proc_launch)/launch/self_filter_lidar.launch">
    <arg name="cloud_in_topic" value="$(arg scan_cloud_topic)"/>
    <arg name="cloud_out_topic" value="$(arg scan_cloud_filtered_topic)"/>
    <arg name="robot_description_name" value="$(arg robot_description_name)"/>
    <arg name="node_name_prefix" value="$(arg node_name_prefix)"/>
<!--    <arg name="test" value="$(find vigir_self_filter)/config/atlas_lidar_self_filter.yaml"/>-->
  </include>
  
</launch>


